*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #0b0216;
    }
 /* Navbar Section*/
header{
    width: 100%;
    max-width: 1600px;
}
.nav-container{
    max-width: 1200px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
}
.logo span{
    background:  linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    background-clip: text;
    color: transparent;
}
.nav{
    padding: 12px;
    display: flex;
    gap: 32px;
}
.nav a{
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    line-height: 24px;
}
.nav a:hover{
    background-color: aqua;
    color: #0b0216;
}
.btn-subscribe{
    padding: 12px 16px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-subscribe:hover{
    transform: translateY(-2px);
}
.menu-icon {
    display: none;
}
hr{
    opacity: 0.6;
}

/* Banner Section*/
.banner{
    min-height: 100vh;
    background: radial-gradient(circle at center, #2b0b4e, #0f021f);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.banner-container{
    position: relative;
    width: 100%;
    max-width: 1600px;
    text-align: center;
}
.wave{
    width: 100%;
    max-width: 1600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}
.banner-content{
    margin: auto;
    max-width: 550px;
    position: relative;
    z-index: 2;
}
.mic-circle{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto 40px;
}
.circle{
    width: 100%;
    height: auto;
    display: block;
}
.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    transform: translate(-50%, -50%);
}
.badge{
    position: absolute;
    top: 25px;
    right: 5px;
    background-color: #00ff88;
    color: #1A0B2F;
    font-size: 1rem;
    font-weight: 700;
    padding: 6px 14px;
    border-radius: 30px;
}
.banner-content h1{
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #ffffff;
}
.banner-content p{
    font-size: 1rem;
    color: #ffffff;
    max-width: 550px;
    margin-bottom: 24px;
}
.banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.btn{
    padding: 12px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}
.btn img{
    margin-right: 8px;
}
.sportify{
    background: linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    color: #ffffff;
}
.subscribe{
    border: 1px solid #00ff88;
    color: #00ff88;
}
.btn:hover{
    transform: translate(-3px);
    opacity: 0.7;
}

/* About Section*/
.about{
    background: radial-gradient(
        circle at top,
        #2a0b4d 0%,
        #140424 60%,
        #0b0215 100%
      );
    padding: 120px 20px;  
}

.about-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.about-description{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-description h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.description{
    font-size: 1rem;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 20px;
}
.sub-description{
    font-size: 1rem;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 80px;
}
.divider{
    width: 100%;
    max-width: 1200px;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 auto 80px;
}
.states{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    gap: 80px;
    margin: 0 auto;
}
.stat-item h3{
    font-size: 3rem;
    font-weight: 700;
    color: #00ff88;
    margin-bottom: 16px;
}
.stat-item h3 i{
    font-size: 2.5rem;
}
.stat-item span{
    font-size: 1rem;
    line-height: 1.7;
    color: #ffffff;
}

/* Choice Section*/

.choice{
    background: radial-gradient(circle at top, #2b0f45, #160722);
    padding: 80px 20px;
}
.choice-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.section-heading{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin: 40px auto;
}
.choice-grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 30px;
}
.card{
    background: linear-gradient(180deg, #2a0f4d, #200938);
    border-radius: 20px;
    padding: 40px;
}
.card h3{
    margin: 16px auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}
.card p{
    font-size: 1rem;
    line-height: 24px;
    color: #cfc3e8;
}
.tall{
    grid-row: span 2;
    padding: 107px 40px;
}
.wide{
    grid-column: span 2;
}

/*Episode Section*/

.episode{
    background: radial-gradient(circle at top, #2a0b4d, #12051f);
    padding: 80px 20px;
}
.episode-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.episode-heading{
    width: 100%;
    max-width: 1200px;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 60px auto;
}
.episode-grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.episode-card{
    width: 100%;
    max-width: 370px;
    background: linear-gradient(180deg, #2a0f44, #190b2c);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.episode-card:hover{
    transform: translateY(-8px);
}
.video-wrapper{
    position: relative;
    width: 100%;
    height: 220px;
}
.video-wrapper iframe{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.btn-play{
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    pointer-events: auto;
}
.btn-play::before{
    content: "";
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(255, 45, 178, 0.7);
    position: relative;
}
.btn-play::after{
    content: "";
    position: absolute;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 14px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.btn-play:hover{
    cursor: pointer;
}
.card-content{
    padding: 24px;
}
.card-content h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}
.card-content p{
    font-size: 1rem;
    line-height: 24px;
    color: #cfc3e8;
    margin-bottom: 16px;
}
.duration{
    font-size: 1rem;
    color: #00ff88;
    font-weight: 500;
    text-align: center;
}
.duration img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

/*Host Section */

.host{
    padding: 80px 20px;
    background: radial-gradient(circle at top, #2a0b4d, #12051f);
}
.host-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.host-heading{
    width: 100%;
    max-width: 1200px;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 60px auto 48px;
}
.host-card{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 60px;
    background: linear-gradient(90deg, #2a0f44, #1a0b2d);
    border-radius: 20px;
    padding: 40px 50px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
    align-items: center;
}
.host-image img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3b155e;
}
.host-content h3{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.host-content p{
    font-size: 1rem;
    line-height: 24px;
    color: #cfc3e8;
    margin-bottom: 16px;
}
.social-icon{
    display: flex;
    gap: 16px;
    align-items: center;
}
.social-icon a{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ff4ecd;    
}
.social-icon a:hover{
    transform: translateY(-3px);
    
}
.social-icon a img{
    width: 17px;
    height: 17px;
    margin: 15px;
}

/* Footer Section*/

.footer{
    background:
    url("../image/footer-bg.png") center / cover no-repeat,
    linear-gradient(135deg, #1a083d, #2b0a5e);
  padding: 80px 20px;
}

.footer-content{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto 20px;
    text-align: center;    
}
.footer-logo{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 32px;
    color: #ffffff;
}
.footer-logo span{
    background:  linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    background-clip: text;
    color: transparent;
}
.footer-icon{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 24px;
}

.footer-icon li a {
    text-decoration: none;
    color: #cfc3e8;
    font-size: 1rem;
    line-height: 24px;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.footer-icon li a img{
    width: 16px;
    height: 16px;
}

.copyright{
    font-size: 1rem;
    color: #cfc3e8;
    line-height: 24px;
}



/* Responsive*/
@media screen and (max-width: 576px) {

    /*Navbar Section*/
    
    .nav-container{
        margin: 10px auto;
    }

    .logo{
        font-size: 2rem;
        padding-left: 10px;
    }
    .nav{
        display: none;
    }
    .btn-subscribe{
        display: none;
    }
    .menu-icon{
        padding: 10px;
        display: block;
        cursor: pointer;
    }

    /*banner section*/
    .banner{
        min-height: auto;
    }
    .banner-container{
        max-width: 440px;
    }
    .banner-content{
        max-width: 400px;
    }
    .wave{
        width: 140%;
        top: 45%;
    }
    .mic-circle{
        width: 155px;
        height: 155px;
        margin: 70px auto 24px;
    }
    .mic{
        width: 50px;
    }
    .badge{
        top: 10px;
        right: -10px;
        font-size: 11px;
    }
    .banner-content h1{
        font-size: 2.5rem;
    }
    .banner-content p{
        max-width: 400px;
        font-size: 0.8rem;
    }
    .btn img{
        margin-right: 5px;
    }

    /*about section*/
    .about{
        padding: 80px 16px;
    }
    .about-container{
        max-width: 440px;
    }
    .about-description{
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
    }
    .about-description h2{
        font-size: 2rem;
        margin-bottom: 16px;
    }
    .description{
        margin-bottom: 14px;
    }
    .sub-description{
        margin-bottom: 40px;
    }
    .divider{
        max-width: 400px;
        margin-bottom: 40px;
        opacity: 0.6;
    }
    .states{
        max-width: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }
    .stat-item{
        display: grid;
        gap: 6px;
    }
    .stat-item h3{
        font-size: 2rem;
        margin-bottom: 16px;
    }
    .stat-item h3 i{
        font-size: 1.5rem;
    }

    /* choice section*/

    .choice{
        padding: 40px 16px;
    }
    .choice-container{
        max-width: 440px;
    }
    .section-heading{
        max-width: 400px;
        font-size: 2rem;
        margin: 20px auto;
    }
    .choice-grid{
        max-width: 400px;
        margin: 0 auto 40px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .card{
        width: 400px;
        border-radius: 16px;
        padding: 24px;
    }
    .card h3{
        margin: 8px auto;
        font-size: 1.4rem;
    }
    
    /* Episode Section*/

    .episode{
        padding: 40px 16px;
    }
    .episode-container{
        max-width: 440px;
    }
    .episode-heading{
        max-width: 400px;
        font-size: 2rem;
        margin-bottom: 30px;
    }
    .episode-grid{
        max-width: 400px;
        margin: 0 auto 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .episode-card{
        border-radius: 16px;
        margin: 0 auto;
    }
    .btn-play::before{
        width: 50px;
        height: 50px;
    }
    .btn-play::after{
        margin-left: 4px;
    }
    .card-content{
        padding: 18px;
    }
    .card-content h3{
        font-size: 1.3rem;
    }

    /* Host Section*/

    .host{
        padding: 50px 16px;
    }
    .host-container{
        max-width: 440px;
    }
    .host-heading{
        max-width: 400px;
        margin: 0 auto 24px;
        font-size: 2rem;
    }
    .host-card{
        max-width: 400px;
        margin: 0 auto 20px;
        border-radius: 15px;
        padding: 24px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }
    .host-image img{
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
    }
    .host-content h3{
        font-size: 1.5rem;
    }
    .social-icon{
        justify-content: center;
        align-items: center;
    }
    .social-icon img{
        width: 14px;
        height: 14px;
    }

    /*Footer Secttion*/

    .footer {
        padding: 50px 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 700px 300px;
    }
    .footer-content{
        max-width: 440px;
        margin: 20px auto 0;
    }
    .footer-logo {
        font-size: 2rem;
        font-weight: 700;
        margin: 0px auto 25px;
    }
    .footer-icon {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 8px;
    }
    .copyright{
        margin-bottom: 0;
    }

}