*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #0b0216;
    }
 /* Navbar Section*/
header{
    width: 100%;
    max-width: 1600px;
}
.nav-container{
    max-width: 1200px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
}
.logo span{
    background:  linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    background-clip: text;
    color: transparent;
}
.nav{
    padding: 12px;
    display: flex;
    gap: 32px;
}
.nav a{
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    line-height: 24px;
}
.nav a:hover{
    background-color: aqua;
    color: #0b0216;
}
.btn-subscribe{
    padding: 12px 16px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #ffcc33, #ff2fb2, #7a2cff);
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.btn-subscribe:hover{
    transform: translateY(-2px);
}
.menu-icon {
    display: none;
}
hr{
    opacity: 0.6;
}


/* Responsive*/
@media screen and (max-width: 576px) {

    /*Navbar Section*/
    
    .nav-container{
        margin: 10px auto;
    }

    .logo{
        font-size: 2rem;
        padding-left: 10px;
    }
    .nav{
        display: none;
    }
    .btn-subscribe{
        display: none;
    }
    .menu-icon{
        padding: 10px;
        display: block;
        cursor: pointer;
    }

}